body {
    background-color: rgb(252, 252, 167);
	margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
}
h1{
    font-size: 70px;
    font-family: 'Yusei Magic', sans-serif;
    color: rgb(4, 4, 65);
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    color: darkgrey;
}
a {
	text-decoration: none;
	outline: none;
}


ul{
    /* border: 2px solid red; */
    margin-left: 80%;
    padding: 0px;
    background: none;
    overflow: hidden;
}
ul li{
    /* border: 2px solid red; */
    display: inline-block;
    list-style-type: none;
}
ul li a{
    color: darkred;
    text-decoration: none;
    text-transform: capitalize;
    padding: 11px;    
    display: inline-block;

}
.First-part{
    margin-bottom: 60px;
}
.Name-color1{
    color: rgb(46, 101, 110);
}
.Name-cl2{
    color: gold;
}
.Name-cl3{
    color: indigo;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 9%;
}
.half img{
    width: 100%;
}
.link-button{
    background-image: linear-gradient(rgb(247, 131, 64), rgb(42, 141, 148));
    border: 2px solid rgb(175, 86, 98);
    border-radius: 20px;
    text-decoration: none;
    color: ivory;
    padding: 20px;
}
.link-button:hover{
    cursor: pointer;
    color: yellow;
    background-color: darkgreen;
}
.logo{
    display: block;
	float: left;
	height: 30px;
	margin: 0 14px 0 0;
	padding: 0;
	width: 304px;
}
.Mission{
    padding-top: 5%;
    margin-left: 3%;
    padding-block: 4%;
    margin: 20px;
}
.sis-projects{
    text-align: center;
    align-items: center;
    margin: auto;
}
.color{
    color: sandybrown;
}
.sec1{
    height: 800px;
    margin: 2px;
    border: 1px solid transparent;
}
.one3{
    float: left;
    width: 21%;
    margin: 3%;
    padding-left: 2%;
}
.box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 420px;
    background-position: right;
    padding: 3%;

}
.box-img{
    border-radius: 8px;
    width: 100%;
}
.first-sec{
    background-image: linear-gradient(rgb(236, 236, 173), white);
    height: 800px;
    background-position: center;
}
.second-sec{
   background-image: linear-gradient( white,rgb(236, 236, 173));
   background-position: right;
   height: 800px;
}
.third-sec{
    background-image: linear-gradient(rgb(196, 187, 187),rgb(209, 195, 195));
    background-position: right;
    height: 800px;
}
.forth-sec{
    background-image: url(personal-website-main/shapes/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
    border-radius: 50px;
    height: 450px;
    image-resolution: 20px;
    width: 100%;
}
.forth-sec-div1{
    /* border: 2px solid red; */
    text-align: center;
    float: left;
    margin-left: 30%;
    padding-top: 11%;
    height: 200px;
}
.forth-sec-div2{
    /* border: 2px solid red; */
    text-align: center;
    float: left;
    margin-left: 19%;
    padding-top: 15%;
    height: 200px;
    padding-bottom: 0px;
}
.half-list{
    list-style: decimal;
}
.fifth-sec{
    height: 800px;
    background-image: linear-gradient(rgb(252, 252, 167), white);
}
.foot{
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    color: floralwhite;
    background-image: linear-gradient(rgb(59, 12, 12), rgb(46, 46, 22));
    height: 100%;
}
.ft{
    text-align: center;
    /* border: 2px solid red; */
}

.foot a{
    color: indianred;
  
}
.foot img{
    width: 60px;
}
.client{
  text-align: center;

}